.title {
  font-size: 4vw;
  margin: 1vw;
}
.page {
  border-style: dotted;
  aspect-ratio: 9/16;
  width: 70%;
}

.invoice {
  display: flex;
  margin-left: 1vw;

  div {
    margin-right: 6.5vw;
    display: flex;
  }
}
